{% extends 'hnrsircimBundle::Layout.html.twig' %}

{% block body -%}
    <h1>TamanoPlaca</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tptamano</th>
                <td>{{ entity.tpTamano }}</td>
            </tr>
            <tr>
                <th>Tpestado</th>
                <td>{{ entity.tpEstado }}</td>
            </tr>
            <tr>
                <th>Tpusuariocreacion</th>
                <td>{{ entity.tpUsuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Tpusuariomodificacion</th>
                <td>{{ entity.tpUsuarioModificacion }}</td>
            </tr>
            <tr>
                <th>Tpfechacreacion</th>
                <td>{{ entity.tpFechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tpfechamodificacion</th>
                <td>{{ entity.tpFechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tamanoplaca') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tamanoplaca_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tamanoplaca_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
