{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Uslogin</th>
                <td>{{ entity.usLogin }}</td>
            </tr>
            <tr>
                <th>Uscorreo</th>
                <td>{{ entity.usCorreo }}</td>
            </tr>
            <tr>
                <th>Uscontrasena</th>
                <td>{{ entity.usContrasena }}</td>
            </tr>
            <tr>
                <th>Usactualizarcontrasena</th>
                <td>{{ entity.usActualizarContrasena }}</td>
            </tr>
            <tr>
                <th>Usestadoactivo</th>
                <td>{{ entity.usEstadoActivo }}</td>
            </tr>
            <tr>
                <th>Usestadobloqueado</th>
                <td>{{ entity.usEstadoBloqueado }}</td>
            </tr>
            <tr>
                <th>Idempleado</th>
                <td>{{ entity.idempleado }}</td>
            </tr>
            <tr>
                <th>Ususuariocreacion</th>
                <td>{{ entity.usUsuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Ususuariomodificacion</th>
                <td>{{ entity.usUsuarioModificacion }}</td>
            </tr>
            <tr>
                <th>Usfechacreacion</th>
                <td>{{ entity.usFechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usfechamodificacion</th>
                <td>{{ entity.usFechaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
